<div class="harvester-tab">
  <ol class="items-list harvester-items-list">
    <li class="items-header flexrow">
      <h3 class="item-name flexrow">
        {{localize 'Harvester'}}
      </h3>
      <!--
      <div class="item-detail">
        {{localize 'harvester.prefix.label'}}
      </div>source

      <div class="item-detail">
        {{localize 'harvester.suffix.label'}}
      </div>
      -->
      <div class="item-detail">
        {{localize 'harvester.shortDescriptionLink.label'}}
      </div>

      <div class="item-detail">
        {{localize 'harvester.customLink.label'}}
      </div>

      <div class="item-controls"></div>

    </li>

    <ol class="item-list">
      {{#each actorSources as |source|}}
      <li class="item context-enabled flexrow" data-item-id="{{source.id}}">
        <div class="item-name flexrow rollable">
          <div class="item-image" style="background-image: url({{source.img}})"></div>
          <h4>{{source.name}}</h4>
        </div>

        <div class="item-controls flexrow context-menu harvester-item-controls">
          {{#if @root/isOwner}}
          <a class="item-control configure-overrides"
            data-tooltip="{{#unless @root/isOwned}}harvester.ConfigureOverrides{{else}}harvester.Configure{{/unless}}">
            <i class="fas fa-edit"></i>
          </a>

          <a class="item-control item-create-custom-link" data-tooltip="harvester.CreateCustomLink">
            <i class="fa-solid fa-share-from-square"></i>
          </a>

          {{#if @root/isOwned}}
          <a class="item-control item-destroy" data-tooltip="harvester.DeleteLeaf">
            <i class="fas fa-trash"></i>
          </a>
          {{else}}
          <a class="item-control item-delete" data-tooltip="harvester.RemoveLink">
            <i class="fas {{#if @root/isOwned}}fa-link-slash{{else}}fa-trash{{/if}}"></i>
          </a>
          {{/if}}

          {{/if}}

        </div>
      </li>
      {{/each}}
      <li class="item flexrow">
          <div class="item-source-drag-content">{{localize "harvester.label.sheetDragContent"}}</div>
      </li>
    </ol>
  </ol>

</div>
